<h1>Waiting List</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <% if list.customers.any? %>
    <ol>
      <% list.customers.each do |customer| %>
        <li><%= customer.name %>, <%= customer.state %></li>
      <% end %>
    </ol>
    <% end %>
  <% end %>
</ul>
