<div class="box">
  <div class="show">
    <h1>Waiting List</h1>

    <ul>
      <% @lists.each do |list| %>
        <li> <h4><%= link_to list.name, list_path(list) %> </h4> </li>
        <% if list.customers.any? %>
        <olid="waiting-list">
          <% list.customers.each do |customer| %>
            <li> <%= customer.name %>,  <%= customer.state %> </li>
          <% end %>
        </ol>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
