<div class="box text-center">
  <h1>Contract & Deposit</h1>

  <p>Cost: $2,200.00 to $3,200.00
  The price is determined on color and markings.

  A $300 deposit is required for the puppy. With the full amount in full by the time the puppy goes to their forever home.

  Whine Country Bernedoodles has the option to keep 1 puppy from each litter as breeder choice. </p>

  <h3>Breakdown</h3>
  <ul>
      <li>$2,200.00 all black puppy.</li>
      <li>$2,500.00 black & white mismarked.</li>
      <li>$2,800.00 black & white Berner markings.</li>
      <li>$3,000.00 brown and black.</li>
      <li>$3,200.00 tri colored.</li>
  </ul>
</div>
