<div class="box text-center">
  <h1>Contract & Deposit</h1>

  <p>Cost: $2,200.00 to $3,200.00
  The price is determined on color and markings.

  A $300 deposit is required for the puppy. With the full amount in full by the time the puppy goes to their forever home.</p>
</div>
