<div class="show">

  <h2><%= @dog.name%> Due: <%= @litter.due_date.strftime("%B %d, %Y") %> </h2>
  <% if current_user != nil && current_user.email == "whinecountrybernedoodles@gmail.com" %>
  <div id="puppy_ajax">
    <%= link_to "Add Puppy", new_dog_litter_puppy_path(@dog, @litter), id: "new_puppy_link", remote: true %>
  </div>
  <% end %>
  <hr>
  <h3>Puppies</h3>
  <% @puppies.each do |puppy| %>
    <h5><%= link_to puppy.name, dog_litter_puppy_path(@dog, @litter, puppy) %></h5>
  <% end %>
</div>
