<%= @dog.name %>

<!-- <button name="button"><%= link_to "Add Litter", new_dog_litter_path(@dog) %> </button> -->

<button><%= link_to "Add Litter", new_dog_litter_path(@dog) %></button>

<% @litters.each do |litter| %>
  <%= link_to litter.due_date, dog_litter_path(@dog, litter) %>

<% end %>
