<div class="show">
  <h2>Hi, <%= @user.email %></h2>
  <% if current_user.email == "whinecountrybernedoodles@gmail.com" %>
    <button name="button"><%= link_to "Add Dog", new_dog_path, id: "new_dog_link", remote: true %> </button>
  <% end %>
  <hr>


  <div class="row">
    <% @dogs.each do |dog| %>
          <h4><%= link_to dog.name, dog_path(dog) %></h4>
    <% end %>
  </div>
</div>
