
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

body {
  background: url(/assets/brown.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: white;
}
a {
  color: #4BD3EB;
}
a:hover {
  color: white;
}
input {
  color: white;
  background-color: #36ADD9;
}
.show {
  text-align: center;
}
