@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "owl.carousel";
@import "owl.carousel/owl.theme.default";


body {
  background: url(/assets/brown.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: white;
}
a {
  color: #4BD3EB;
}
a:hover {
  color: white;
}
input {
  color: white;
  background-color: #36ADD9;
}
.show {
  text-align: center;
}
.breed-description {
  padding: 10px;
  background-color: black;
}

#carousel-home {
  margin: 3px;
}
#carousel-home .item{
  display: block;
  width: 100%;
  height: auto;
}
