@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "owl.carousel";
@import "owl.carousel/owl.theme.default";


body {
  background: url(/assets/brown.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: #dedad5;
}
a {
  color: #4BD3EB;

}
a:hover {
  color: white;
}
input {
  color: #dedad5;
  background-color: #36ADD9;
}
.show {
  text-align: center;
}
.breed-description {
  padding: 10px;
}

#carousel-home {
  margin: 3px;
}
#carousel-home .item{
  display: block;
  width: 100%;
  height: auto;
}

label {
  background-color: none;
  color: #dedad5;
  padding: 0;

}
form {
  background-color: none;
  padding: 0;
}

.button {
  font: bold 1em "Raleway";
  color: #43bdd3;
  text-decoration: none;
  background-color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.container {
  background-color: rgba(0, 0, 0, .5)
}
