
<div class="container box">

<h1>FAQ's</h1>
<h3>WHAT IS A BERNEDOODLE?</h3>
A Bernedoodle is a cross between a Bernese Mountain Dog and a Poodle.


<h3>WHAT IS A BERNEDOODLE LIKE?</h3>

A Bernedoodle is fun, athletic, entertaining, loyal, friendly, great with children and other animals, loving, and EXTREMELY SMART.



<h3>WHAT COLORS ARE BERNEDOODLES?</h3>

Bernedoodles are usually either pure black, black and white, phantom, parti or tri colored.  They do come in other colors but these are the most common.



<h3>WHAT ARE THE BERNEDOODLE GENERATIONS I AM OFFERING? </h3>

The F1 is currently the most common cross, which is the poodle crossed with the bernese mountain dog. They are 50% poodle and 50% bernese mountain dog. This is a first generation hybrid and has what is known as the "hybrid vigor".  When you cross two different breeds, they tend to have better health because of the variation in lines/breeds that are prone to different genetic diseases.



<h1>Deposit & Contracts</h1>

Cost: $2,200.00 to $3,200.00
The price is determined on color and markings.

A $300 deposit is required for the puppy. With the full amount in full by the time the puppy goes to their forever home.
</div>
