
<div class="box">
  <div class="row">
    <center>
      <h1>FAQ's</h1>
    </center>
    <div class="col-sm-6">
      <h3>What is a Bernedoodle?</h3>
      <p>A Bernedoodle is a cross between a Bernese Mountain Dog and a Standard Poodle.</p>

      <h3>What is the temperment of a Bernedoodle?</h3>

      <p>A Bernedoodle is fun, athletic, entertaining, loyal, friendly, great with children and other animals, loving, and EXTREMELY SMART.</p>

      <h3>What colors are Bernedoodles?</h3>

      <p>Bernedoodles are usually either pure black, black and white, phantom, parti or tri colored.  They do come in other colors but these are the most common.</p>

      <h3>What are the Bernedoodle generations I am offering? </h3>

      <p>The F1 is currently the most common cross, which is the poodle crossed with the bernese mountain dog. They are 50% poodle and 50% bernese mountain dog. This is a first generation hybrid and has what is known as the "hybrid vigor".  When you cross two different breeds, they tend to have better health because of the variation in lines/breeds that are prone to different genetic diseases.</p>

    </div>

    <div class="col-sm-6">

      <h3>How do I reserve a puppy?</h3>

      <p>A $500.00 deposit is required to reserve a puppy from a current litter. Deposits are non-refundable.

      Note: Final payment is due when you pick up or have the puppy delivered. </p>


      <h3>What will I receive with my puppy?</h3>

        <p>All puppies include the following</p>

        <li>Health record including first shots and worming.</li>
        <li>Sample of the food puppy is used to eating. </li>
        <li>Written Health Warranty & Bill of Sale</li>
        <li>Puppies are ready to go home at 8 weeks </li>


      <h3>Is shipping a possibility?</h3>
      <p>Shipping can be discussed on a case by case basis.
      I am willing to meet families half way on long distance drives, terms to be determined.</p>

      <h3>Can I pick up my puppy?</h3>

      <p>Yes, we allow the puppies to be picked up.</p>

      <h3>Do you allow the general public to visit and handle your puppies?</h3>

      </p>No, we are very serious about protecting our puppies, only those who have a deposit and a vested interest in our pups are allowed to come and visit.  While we do understand the interest in this breed and why many great families want to just come and visit and hold one, a lot of times people will go from place to place viewing and playing with puppies.  What they do not realize is that they will be exposing our pups to whatever germs were at the last several places they visited.  </p>

      <h3>Do you have a health warranty?</h3>

      <p>Yes, all puppies come with a 72 hr health warranty that gives you time to take the puppy to your vet and have a full check up to make sure you are completely satisfied with your purchase. If you are not completely satisfied the puppy must be returned to us ASAP for an exchange.  Any shipping charges are non-refundable. </p>
    </div>
  </div>
</div>
